html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

#root {
  height: 100%;
}

h1 {
  font-size: 2em;
}

.container {
  margin: 5% 2% 0 2%;
  padding: 2% 2% 100% 2%;
  text-align: left;
  background-color: #101010;
}

input {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px;
  border: 1px solid;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 18px;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  outline: none;
}

.echo {
  padding-top: 3em;
  font-size: 1.5em;
  text-align: center;
  color: #eee;
}

.my-voice {
  margin: .1em;
  font-size: 3em;
  text-align: center;
  color: #08a8f1;
}